<?xml version="1.0"?>
<model>
  <name>TurtleBot3 Burger Pose</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>local</name>
    <email>local@example.com</email>
  </author>
  <description>
    TurtleBot3 Burger wrapper with PosePublisher.
  </description>
</model>
